[Unit]
Description=Plex Patrol
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/appdata/pgpatrol
ExecStart=/opt/appdata/pgpatrol/patrol.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
