[Unit]
Description=Plex Patrol
After=network-online.target

[Service]
User=1000
Group=1000
Type=simple
WorkingDirectory=/opt/appdata/pgpatrol
ExecStart=/usr/bin/python3 /opt/appdata/pgpatrol/patrol.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
