---
version: '2'
services:
 nginx-proxy:
   image: jwilder/nginx-proxy:latest
     container_name: nginx-proxy
     volumes:
       - /var/run/docker.sock:/tmp/docker.sock:ro
     ports:
       - 80:80
     restart: always
