# /etc/systemd/system/pgtrakt.service

[Unit]
Description=pgtrakt
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/pg/data/pgtrakt
ExecStart=/usr/bin/python3 /pg/data/pgtrakt/pgtrakt.py run
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
