[Unit]
Description={{drive}} Daemon
After=multi-user.target

[Service]
Type=notify
#EnvironmentFile=/pg/var/rclone/rclone.env
ExecStart=/usr/bin/rclone mount {{drive}}: /pg/{{drive}} \
--config=/pg/var/rclone/pg.conf \
#--log-file=/pg/logs/{{drive}}.log \
#--log-level="${vfs_ll}" \
--uid=1000 --gid=1000 --umask=002 \
--allow-other \
--timeout=1h \
--tpslimit=10 \
--drive-skip-gdocs \
#--user-agent="${uagent}" \
--dir-cache-time="${dir_cache_time}m" \
--vfs-cache-max-age="${vfs_cache_max_age}h" \
--vfs-cache-max-size="${vfs-cache-max-size}" \
--vfs-read-chunk-size-limit="${vfs_read_chunk_size_limit}M" \
--vfs-read-chunk-size="${vfs_read_chunk_size}M" \
--buffer-size="${buffer_size}M" \
--vfs-cache-mode="writes"

ExecStop=/bin/fusermount -uz /pg/{{drive}} > /dev/null
TimeoutSec=60
User=0
Group=0
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
