[Unit]
Description={{drive}} Daemon
After=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount {{drive}}: /pg/{{drive}} \
--config=/pg/var/rclone/pg.conf \
--uid=1000 --gid=1000 --umask=002 \
--allow-other \
--timeout=1h \
--tpslimit=10 \
--drive-skip-gdocs \
--dir-cache-time={{dir_cache_time}}m \
--vfs-cache-mode="writes"
--allow-non-empty

ExecStop=/bin/fusermount -uz /pg/{{drive}} > /dev/null
TimeoutSec=60
User=0
Group=0
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
