#!/bin/bash
#
# Title:      PlexGuide (Reference Title File)
# Author(s):  Admin9705
# URL:        https://plexguide.com - http://github.plexguide.com
# GNU:        General Public License v3.0
################################################################################

[Unit]
Description=TDrive Daemon
After=multi-user.target

[Service]
Type=simple
User=0
Group=0
ExecStart=/usr/bin/rclone --allow-non-empty --allow-other mount tdrive: /mnt/tdrive \
  --uid=1000 --gid=1000 --rc \
  --size-only --dir-cache-time=2m \
  --vfs-read-chunk-size=64M --vfs-cache-max-age 675h --vfs-read-chunk-size-limit=1G \
  --buffer-size=32M --syslog --umask 002 --log-level INFO \
  --config /opt/appdata/plexguide/rclone.conf
ExecStop=/bin/fusermount -uz /mnt/tdrive
TimeoutStopSec=20
KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
