# User-specific stuff:
.idea

## File-based project format:
*.iws

# IntelliJ
/out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# logs
*.log*

# databases
*.db

# configs
*.cfg
*.json
*.json.sample

# documents
*.md

# generators
*.bat

# Pyenv
**/.python-version

# PyInstaller
build/
dist/
*.manifest
*.spec

# Git
.git

# Systemd
systemd
