#!/bin/bash
#
# Title:      PGBlitz (G/TDrive used space)
# Author(s):  Admin9705
# Coder: 	  MrDoob
# URL:        https://pgblitz.com - http://github.pgblitz.com
# GNU:        General Public License v3.0
################################################################################
[Unit]
Description='PGui Used space | localspace '
After=multi-user.target

[Service]
User=0
Group=0
Type=simple
ExecStart=/bin/bash /opt/plexguide/menu/pgui/localspace.sh
KillMode=process
RemainAfterExit=20sec
TimeoutStopSec=20sec

[Install]
WantedBy=multi-user.target
