[Unit]
Description=Ombi
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/Ombi/
ExecStart=/opt/Ombi/Ombi
TimeoutStopSec=20
KillMode=process
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
