#!/bin/bash
#
# [SuperTransfer]
#
# GitHub:   https://github.com/Admin9705/PlexGuide.com-The-Awesome-Plex-Server
# Author:   FlickerRate
# URL:      https://plexguide.com
#
# PlexGuide Copyright (C) 2018 PlexGuide.com
# Licensed under GNU General Public License v3.0 GPL-3 (in short)
#
#   You may copy, distribute and modify the software as long as you track
#   changes/dates in source files. Any modifications to our software
#   including (via compiler) GPL-licensed code must also be made available
#   under the GPL along with build & install instructions.
#
#################################################################################

[Unit]
Description='SuperTransfer Loaded Balanced Multi SA Gdrive Uploader'
After=multi-user.target network-online.target

[Service]
User=0
Group=0
Type=simple
ExecStart=/bin/bash /opt/plexguide/scripts/supertransfer/supertransfer2.sh 
KillMode=process

[Install]
WantedBy=multi-user.target
