[Unit]
Description=PlexDrive5 Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/plexdrive mount --uid=1000 --gid=1000 -v 3 --refresh-interval=1m --chunk-load-threads=8 --chunk-check-threads=8 --chunk-load-ahead=4 --chunk-size=10M --max-chunks=300 --fuse-options=allow_other,read_only,allow_non_empty_mount --config=/root/.plexdrive --cache-file=/root/.plexdrive/cache.bolt /mnt/plexdrive
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
