[Unit]
Description=PlexDrive Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/plexdrive mount -v 3 --refresh-interval=1m --chunk-check-threads=8 --chunk-load-threads=8 --chunk-load-ahead=6 --fuse-options=allow_other,read_only --config=/root/.plexdrive --cache-file=/root/.plexdrive/cache.bolt /mnt/plexdrive
ExecStop=/bin/fusermount -uz /mnt/plexdrive
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target