# /etc/systemd/system/pgscan.service

[Unit]
Description=Plex Autoscan
After=network-online.target unionfs.service

[Service]
User=1000
Group=1000
Type=simple
WorkingDirectory=/opt/appdata/pgscan/
ExecStart=/opt/appdata/pgscan/scan.py server --loglevel=INFO
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
